.menu {
    animation-delay: 0.5s;
    animation:menu-slidein 2s forwards;
    color: white;
    margin-left:-100px;
    margin-top: -115px;
    position: fixed;
    text-align: center;
    top: 66%;
    z-index: 1;
  }
  
  @keyframes menu-slidein {
   100% {
     margin-left: -16px;
   }
  }

  ul {
    list-style:none;
   }
  
  #menu__links {
    border-radius:20%;
    border-right:solid white;
    border-top:solid white;
    box-shadow: -10px 5px 5px silver;
    cursor:pointer;
    height:45px;
    margin-bottom: 7px;
    width: 65px;
  }
  
  a {
    color:white;
    cursor:pointer;
    text-decoration: none;
  }

  .search__link {
    background-color: #60aade;
  }
  
  .upload__link {
    background-color: #e85441;
  }
  
  .config__link {
    background-color: #506bb1;
  }