.promotion-toolbar {
  border-top: solid;
  border-color: #506bb1;
  max-width: 85%;
  display: flex;
  justify-content: space-around;
}

.promotion-toolbar__button-save {
  background-color: rgb(129, 206, 129);
}

.promotion-toolbar__button-reset {
  background-color: bisque;
}
