
.search__button {
    background-color:#60aade;
    height:30px;
    width:30px;
}

.search__box {
    height:30px;
    margin-left:200px;
    padding:0;
    width:300px;
}

.search__form {
    display: flex;
}

input {
    font-size:14px;
    height:30px;
    padding:5px 10px;
    width:296px;
}

table {
    border: 1px solid;
}

td{
    border-top: 1px solid;
}

.SearchResult{
    border: solid;
    margin: 16px;
    width: 85%;
    border-color:#60aade;
}