.NewPromotionTitle {
    color:#506bb1;
    max-width: 85%;
}


.PromotionDetails {
    border:solid;
    border-color:#506bb1;
    max-width: 85%;
}

.PromotionToolBar{
    border-top:solid;
    border-color:#506bb1;
    max-width: 85%;
    display: flex;
    justify-content: space-around
}

button{
    height: 30px;
    border-radius: 10%;
    width: 70px;
}

.save{
    background-color: rgb(129, 206, 129);
}

.reset{
    background-color: bisque;
}


.PromotionBuilder{
    margin: 16px;
    margin-left: 60px;
    width: 85%;
}

.promotionDetailsForm{
    display: table;
}

.listBoxItem{
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.NewPromotionTitle{
    text-transform: capitalize;
}