.button__search {
  background-color: #60aade;
  height: 30px;
  width: 30px;
}

.search__box {
  height: 30px;
  margin-left: 200px;
  padding: 0;
  width: 300px;
}

.search__form {
  display: flex;
}

table {
  border: 1px solid;
}

td {
  border-top: 1px solid;
}

.searchContainer {
  margin-left: 50px;
  padding-top: 10px;
}

.edit__button {
  cursor: pointer;
  border-color: #60aade;
  text-decoration: underline;
  border: none;
}
