.banner{
  background-color:silver;
  border-bottom:solid orange;
  height: 100px;
  text-align:center;
}

.content{
  height:100%;
  width:100%;
}

.dynamicContent{
  background-color:#fff;
  height:100%;
  margin-left: 50px;
  width:100%;
}

.navBar{
  animation-delay: 0.5s;
  animation:blog-side-slidein 2s forwards;
  color: white;
  display: block;
  margin-left:-100px;
  margin-top: -115px;
  position: fixed;
  text-align: center;
  top: 66%;
  width: auto;
  z-index: 99999;
}

@keyframes blog-side-slidein {
 100% {
   margin-left: -16px;
 }
}

ul{
 list-style:none;
}

#menuLinks{
  border-radius:20%;
  border-right:solid white;
  border-top:solid white;
  box-shadow: -10px 5px 5px silver;
  cursor:pointer;
  height:45px;
  margin-bottom: 7px;
  width: 65px;
}

a{
  color:white;
  cursor:pointer;
  text-decoration: none;
}

.searchLink{
  background-color: #60aade;
}

.uploadLink{
  background-color: #e85441;
}

.configLink{
  background-color: #506bb1;
}

.searchbtn {
  background-color:#60aade;
  height:30px;
  width:30px;
}

.searchBox {
  height:30px;
  margin-left:200px;
  padding:0;
  width:300px;
}

.uploadBox{
  margin-left:200px;
}

.uploadBtn{
  background-color:#e85441;
}

form{
  display:flex;
}

.configBox{
  margin-left:200px;
}

.configSubmitBtn{
  background-color: #506bb1;
  border-radius:20px;
  width: 100px;
}

.configForm{
  display:flex;
  flex-direction:column;
}

input{
  font-size:14px;
  height:30px;
  padding:5px 10px;
  width:296px;
}

table, th, td {
  border: .5px solid;
}