.config__box{
    margin-left:200px;
  }
  
  .config__submitbutton{
    background-color: #506bb1;
    border-radius:20px;
    width: 100px;
  }
  
  .config__form{
    display:flex;
    flex-direction:column;
  }