.PromotionDetails {
  border: solid;
  border-color: #506bb1;
  max-width: 85%;
}

button {
  height: 40px;
  border-radius: 10%;
  width: 100px;
  font-size: 16px;
}

.confirmBtn {

background: green;
color: white;
margin-left: 30px;
}

.cancelBtn {
  margin-left:40px;
  background: brown;
  color: white;

}

.PromotionBuilder {
  margin: 16px;
  margin-left: 60px;
  width: 85%;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.promotionDetailsForm {
  display: table;
}

.NewPromotionTitle {
  color: #506bb1;
  max-width: 85%;
  text-transform: capitalize;
}

.promotion-toolbar__button-save {
  background-color: rgb(129, 206, 129);
  height: 30px;
  border-radius: 10%;
  width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

.promotion-toolbar__button-reset {
  background-color: bisque;
  height: 30px;
  border-radius: 10%;
  width: 100px;
  font-size: 14px;
}

.confirmationbox {
  width: 500px;
  height: 400px;
  line-height: 25px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #f1c40f;
  border-radius: 5px;
  z-index: 11; /* 1px higher than the overlay layer */
}
