.PromotionDetails {
  border: solid;
  border-color: #506bb1;
  max-width: 85%;
}

button {
  height: 30px;
  border-radius: 10%;
  width: 70px;
}

.PromotionBuilder {
  margin: 16px;
  margin-left: 60px;
  width: 85%;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}


.promotionDetailsForm {
  display: table;
}

.NewPromotionTitle {
  color: #506bb1;
  max-width: 85%;
  text-transform: capitalize;
}


.promotion-toolbar__button-save {
  background-color: rgb(129, 206, 129);
  height: 30px;
  border-radius: 10%;
  width: 100px;
  margin-right:10px;
  font-size: 14px;
}

.promotion-toolbar__button-reset {
  background-color: bisque;
  height: 30px;
  border-radius: 10%;
  width: 100px;
  font-size: 14px;
}